html,body{
    height: 100%;
}

body{
    background-color: forestgreen;
    color: white;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul li > img{
    width: 200px;
    height: 150px;
    border: 1px solid black;
}

.NameOfAnimal{
    font-size: x-large;
    font-weight: bold;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}